<div class="pt-24 flex flex-col gap-14 items-center px-24 pb-8">
  <div>{% render 'header_text', text: 'Comfort made easy' %}</div>
  <div class="flex flex-wrap gap-10">
    <div>
      {% render 'comfort_card',
        img_url: 'icons/comfort_icon1.png',
        head_text: 'You save.',
        body_text: 'Browse our comfort sets and save 15% when you bundle.',
        bg_color: '#F0EEEF'
      %}
    </div>
    <div>
      {% render 'comfort_card',
        img_url: 'icons/comfort_icon2.png',
        head_text: 'We ship.',
        body_text: 'We ship your items within 1-2 days of receiving your order.',
        bg_color: '#F9F0E6'
      %}
    </div>
    <div>
      {% render 'comfort_card',
        img_url: 'icons/comfort_icon3.png',
        head_text: 'You enjoy!',
        body_text: 'Wear hernest around the house, out on the town, or in bed.',
        bg_color: '#F0EEEF'
      %}
    </div>
  </div>
  <div class="flex flex-col items-center gap-2">
    {% render 'primary_button', text: 'Customize Your Outfit', withArrow: true %}
    {% render 'people_star', text: 'Over 500+ 5 Star Reviews Online' %}
  </div>
</div>
