<div class="pt-10 sm:pt-24 flex flex-col-reverse gap-6 sm:gap-0 sm:flex-row px-7 sm:px-24 items-center justify-between bg-comfort_card1 pb-8">
  <div>
    <img src="{{ "images/customize_image.png" | asset_url }}">
  </div>
  <div class="flex flex-col gap-8 max-w-[600px]">
    <h1 class="text-center sm:text-start">{% render 'header_text', text: 'be Your Best Self.' %}</h1>

    <div class="flex flex-col gap-5">
      <div>{% render 'body_text', body: 'Hi! My name’s Sika, and I founded Sika in Africa. ' %}</div>
      <div>
        {% render 'body_text',
          body: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
        %}
      </div>
      <div>
        {% render 'body_text',
          body: 'Fusce non nibh luctus, dignissim risus quis, bibendum dolor. Donec placerat volutpat ligula, ac consectetur felis varius non. Aliquam a nunc rutrum, porttitor dolor eu, pellentesque est. Vivamus id arcu congue, faucibus libero nec, placerat ligula.'
        %}
      </div>
      <div>
        {% render 'body_text',
          body: 'Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eu nisl a metus ultrices sodales.'
        %}
      </div>
      <div>
        {% render 'body_text',
          body: 'Fusce non ante velit. Sed auctor odio eu semper molestie. Nam mattis, sapien eget lobortis fringilla, eros ipsum tristique tellus, ac convallis urna massa at nibh.'
        %}
      </div>
      <div>
        {% render 'body_text',
          body: 'Duis non fermentum augue. Vivamus laoreet aliquam risus, sed euismod leo aliquam ut. Vivamus in felis eu lacus feugiat aliquam nec in sapien.'
        %}
      </div>
      <div>{% render 'body_text', body: 'Cras mattis varius mollis.' %}</div>
    </div>
  </div>
</div>
