<div class="px-7 sm:px-24 flex flex-col sm:flex-row items-start justify-between pt-20 mb-8 w-full bg-cover bg-top">
  <div class="max-w-[620px]">
    <div class="text-center sm:text-start mb-10 sm:mb-20">
      {% render 'header_text', text: 'Frequently asked quetions' %}
    </div>
    <ul class="flex flex-col  gap-4 last:border-gray-200 last:border-b last:pb-4">
      <li>
        {% render 'faq_div',
          faq_point: 'lorem ipsum dolor sit amet',
          body_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
        %}
      </li>
      <li>
        {% render 'faq_div',
          faq_point: 'lorem ipsum dolor sit amet',
          body_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
        %}
      </li>
      <li>
        {% render 'faq_div',
          faq_point: 'lorem ipsum dolor sit amet',
          body_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
        %}
      </li>
      <li>
        {% render 'faq_div',
          faq_point: 'lorem ipsum dolor sit amet',
          body_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
        %}
      </li>
      <li>
        {% render 'faq_div',
          faq_point: 'lorem ipsum dolor sit amet',
          body_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
        %}
      </li>
      <li>
        {% render 'faq_div',
          faq_point: 'lorem ipsum dolor sit amet',
          body_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
        %}
      </li>
    </ul>
  </div>
  <div class="hidden sm:block max-w-[400px]">
    <img class="w-full" src="{{ "images/faq_image.png" | asset_url }}">
  </div>
  <div class="flex sm:hidden flex-col w-full items-center gap-2">
    {% render 'primary_button', text: 'Customize Your Outfit', withArrow: true %}
    {% render 'people_star', text: 'Over 500+ 5 Star Reviews Online' %}
  </div>
</div>
