<div class="pb-8 px-7 sm:px-24 py-24 flex flex-col bg-gradient_bottom items-center gap-[24px]">
  <div class="mx-24 max-w-[600px]">
    {% render 'header_text', text: 'Find something you love.' %}
  </div>
  <div class="mx-24 max-w-[600px] text-center">
    {% render 'body_text',
      body: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
    %}
  </div>
  <div>
    <img src="{{ "images/footer_image.png" | asset_url }}">
  </div>
  <div class="flex flex-col gap-2 items-center">
    {% render 'primary_button', text: 'Customize Your Outfit', withArrow: true %}
    <div class="flex items-center gap-2">
      <p class="border-r text-green-400 border-gray-200 px-4">Ships in 1-2 Days</p>
      <img src="{{ "images/payment_method_image.png" | asset_url }}">
    </div>
  </div>
  <div class="flex gap-2 items-center justify-center flex-wrap">
    {% render 'footer_div',
      border: true,
      body: 'FREE Shipping on Orders over $200',
      img_url: 'icons/footer_icon1.png'
    %}
    {% render 'footer_div',
      border: true,
      body: 'FREE Shipping on Orders over $200',
      img_url: 'icons/footer_icon1.png'
    %}
    {% render 'footer_div',
      border: false,
      body: 'FREE Shipping on Orders over $200',
      img_url: 'icons/footer_icon1.png'
    %}
  </div>
</div>
