<div class="pt-24 flex px-24 items-center">
  <div class="flex flex-col gap-8 max-w-500">
    <h1>{% render 'header_text', text: "Dont't apologize for being too comfortable" %}</h1>
    <ul class="font-semibold">
      <li>
        {% render 'hero_div',
          img_url: 'icons/ben_icon3.png',
          body: 'Beautiful, comfortable loungewear for day or night.'
        %}
      </li>
      <li>
        {% render 'hero_div',
          img_url: 'icons/ben_icon1.png',
          body: 'No wasteful extras, like tags or plastic packaging.'
        %}
      </li>
      <li>
        {% render 'hero_div',
          img_url: 'icons/ben_icon4.png',
          body: 'Our signature fabric is incredibly comfortable — unlike anything you’ve ever felt.'
        %}
      </li>
    </ul>
    <div>
      {% render 'primary_button', text: 'Customize Your Outfit', withArrow: true %}
    </div>
  </div>
  <div>
    <img src="{{ "images/hero_image.png" | asset_url }}">
  </div>
</div>
