<div>
  {% render 'body_text', text: 'This is it right here' %}
  {% render 'button_text' %}
  {% render 'faq-point_text' %}
  {% render 'header_text' %}
  {% render 'point_text' %}
  {% render 'testimonial-body_text' %}

  {% render 'primary_button', withArrow: true %}
  {% render 'primary_button', withArrow: false %}

  {% render 'comfort_card',
    bg_color: '#EDEDED',
    img_url: 'icons/ben_icon1.png',
    alt_text: 'card image',
    head_text: 'sample',
    body_text: 'new sidfius soif sij soifj soifj soig f sofig soig soid goifgo sg sodig soid gois dfgio'
  %}

  {% render 'benefit_div',
    img_url: 'icons/ben_icon1.png',
    point: 'Ethically Sourced',
    body: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
  %}

  {% render 'hero_div',
    img_url: 'icons/ben_icon1.png',
    body: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
  %}

  {% render 'gi_card', img_url: 'icons/gi_icon1.png', head_text: '3,927 kg', body_text: 'of CO2 saved' %}

  {% render 'faq_div',
    img_url: 'icons/+.svg',
    faq_point: '3,927 kg',
    body_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
  %}

  {% render 'footer_div',
    img_url: 'icons/footer_icon1.png',
    body_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
  %}

  {% render 'review_card',
    name: 'Jane, S.',
    body_text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce lobortis sapien facilisis tincidunt pellentesque. In eget ipsum et felis finibus consequat.'
  %}

  {% render 'people_star', text: 'Over 500+ 5 Star Reviews Online' %}
</div>
