<div class="flex gap-8">
  <div class="mb-3">
    <img width="42px" height="42px" src="{{ img_url | image_url: "large" | asset_url }}">
  </div>
  <div class="max-w-[500px]">
    <div class="text-primary mb-[22px] mt-[11px]">
      {% render 'point_text', point: point %}
    </div>
    {% render 'body_text', body: body %}
  </div>
</div>
