<p
  style="color: {{ text_color | default: "" }}"
  class="text-inherit text-secondary text-size_body leading-body tracking-body"
>
  {{ body | default: 'A default value for when there is no text provided' }}
</p>
