<div class="faq-item w-fit flex items-start gap-3 transition-all border-gray-200 border-t py-4" data-faq>
  <div class="w-[320px] sm:w-[560px]">
    <!-- FAQ Title/Point -->
    {% render 'faq-point_text', faq_point: faq_point %}

    <div class="faq-body hidden mt-2" data-faq-body>
      {% render 'body_text', body: body_text %}
    </div>
  </div>

  <div class="faq-toggle w-fit h-fit cursor-pointer flex items-center justify-center" data-faq-toggle>
    {% if open == true %}
      <img width="20px" height="20px" class="mt-2" src="{{ '-.svg' | asset_url }}" alt="Close">
    {% else %}
      <img width="20px" height="20px" src="{{ '+.svg' | asset_url }}" alt="Open">
    {% endif %}
  </div>
</div>
