<div class="flex gap-[10px] items-center">
  <div>
    <img width="42px" height="42px" src="{{ img_url | image_url: "large" | asset_url }}">
  </div>
  <div class="max-w-[180px]">
    {% render 'body_text', body: body %}
  </div>
</div>
